@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Umbraco.Cms.Web.Common.PublishedModels;
@using System.Linq;
@using System.Collections.Generic;
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Cms.Core.Routing;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions;

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
	Layout = "Layout.cshtml";
	
	var galleryImages = Model.Value<List<MediaWithCrops>>("gallery");
	var selection = Model.Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}

<!-- Slideshow -->
<div class="w-100">
    @await Html.PartialAsync("Slideshow", galleryImages)
</div>

<!-- Content -->
<div class="container w-3/4 mx-auto my-8">
    @Model.Value("body")
</div>

<!-- Vorteile -->
@await Html.PartialAsync("Vorteile")

<!-- Navigations-Karten -->
<div class="inline-flex justify-evenly flex-wrap justify-center w-full">
@foreach(var p in selection)
{
    var cropUrl = p.Value<MediaWithCrops>("HeroImage").GetCropUrl(cropAlias: "square", useCropDimensions: true, urlMode: UrlMode.Default, furtherOptions:"&format=WebP");
    <a href="@p.Url(PublishedUrlProvider)">
      <div class="card-zoom">
        <div class="card-zoom-image" style="background-image:url(@cropUrl)"></div>
        <div class="card-zoom-text">
          <span class="text-white text-lg font-semibold">
            @(p.Value<string>("Title"))
          </span>
        </div>
      </div>
    </a>
}
</div>

<!-- Styles für Navigations-Karten -->
@section Head
{
<style type="text/tailwindcss">
.card-zoom {
  @@apply relative flex items-center justify-center m-3 overflow-hidden shadow-xl w-96 h-96 rounded-2xl;
}
.card-zoom-image {
  @@apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}
.card-zoom-text {
  @@apply absolute bg-white max-w-3xl backdrop-filter backdrop-blur-md bg-opacity-25 rounded-full p-4 mt-2 transition-all duration-500 ease-in-out transform scale-125;
}
.card-zoom:hover .card-zoom-image {
  @@apply scale-125;
}
.card-zoom:hover .card-zoom-text {
  @@apply scale-100;
}
</style>
}
